* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3b4363;
  background-image: linear-gradient(#1f3756, #141539);
  background-attachment: fixed;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #fff;
}

main {
  padding-top: 30px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
}

.info div {
  text-align: center;
  background-color: #fff;
  color: #000;
  padding: 0 30px;
  border-radius: 10px;
}

.info h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

.info h3 {
  margin: 0.5rem 0;
}

.game {
  background: url("./images/bg-triangle.svg") center no-repeat;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.game button {
  padding: 50px;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin: 1.5rem;
  cursor: pointer;
}

#rock {
  border: 20px solid #dc2f4f;
  box-shadow: inset 0 8px 0 0 #ccc, 0 7px 0 0 #c32240;
  transition: all 500ms;
}

#rock:hover {
  box-shadow: 0 0 20px 5px #fff;
}

#paper {
  border: 20px solid #5671f5;
  box-shadow: inset 0 8px 0 0 #ccc, 0 7px 0 0 #0d2fd9;
}

#paper:hover {
  box-shadow: 0 0 20px 5px #fff;
}

#sciss {
  border: 20px solid #eca922;
  box-shadow: inset 0 8px 0 0 #ccc, 0 7px 0 0 #d39312;
}

#sciss:hover {
  box-shadow: 0 0 20px 5px #fff;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.switch h1 {
  text-transform: uppercase;
  font-weight: 500;
}

#switch {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 110px;
  margin: 0 2rem;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #427bc5;
  transition: all 400ms ease;
  border-radius: 50px;
}

.slider::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  left: 5px;
  bottom: 5px;
  background-color: #fff;
  transition: all 400ms ease;
  border-radius: 50px;
}

#switch input {
  display: none;
}

input:checked + .slider {
  background-color: #141539;
}

input:checked + .slider::before {
  transform: translateX(100%);
}
